<!-- index.html -->
{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <h1>Launch UI</h1>
</div>
<div class="jumbotron">
    <div class="container">
        <p>{{message}}</p>
        {% if link %}
        <p>Check it out <a target="_blank" href={{link}}>here!</a></p>
        {% endif %}
        <br />
        {% if btn %}
            <a class="button btn-primary btn-lg" href="/repo">{{btn}}</a>
        {% endif %}
        <a class="button btn-primary btn-lg" href="javascript:history.back()">Back</a>
    </div>
</div>

{% endblock %}