<!-- index.html -->
{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <h1>Launch UI</h1>
</div>
<div class="jumbotron">
    <div class="container">
        <p>{{message}}</p>
        <br />
        {% if btn %}
            <a class="button btn-primary btn-lg" href="/">{{btn}}</a>
        {% endif %}
    </div>
    <div class="container">
        {% if spinner %}
            <img src="loadingspinner.gif" width=120px />
        {% endif %}
    </div>
</div>

{% endblock %}